.room-table{
    margin-top: 30px;
    margin: 0 auto;
}

.room-table th{
    background-color: #14305e;
    color: white;
    text-align:center;
}

.room-btn{
    min-width: 230px;
}

.room-table tr.selected tr{
    background-color: black;
}

.create-div {
  margin-top: 20px;
}

.room-button {
  margin-left: 20px;
}

.create-button {
  margin-top: 20px;
}

.room-name {
  width: 200px;
}
.alert {
  padding: 20px;
  background-color: #09a7e6;
color: rgb(0, 0, 0);
text-align: center;
position: fixed;
top: 40px;
left: 50%;
transform: translateX(-50%);
}

.closebtn {
  margin-left: 15px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
