<div>
    <table>
      <tr>
        <th>
          Id
        </th>
        <th>
          Name
        </th>
      </tr>
      <tr *ngFor="let room of allRooms">
        <td>{{room?.id}}</td>
        <td>{{room?.name}}</td>
      </tr>
    </table>
    <div>
    </div>
    <input type="button" value="Create" (click)="mode='create'">
    <input type="button" value="Delete">
    <input type="button" value="Update" (click)="mode='update'">
    <div *ngIf="mode==='create'">
      Name: <input type="text" [(ngModel)]="roomToCreate.name">
      <input type="button" value="Create Room">
    </div>
    <div *ngIf="mode==='update'">
        Name: <input type="text" [(ngModel)]="roomToUpdate.name">
        <input type="button" value="Update Room">
    </div>
</div>