<div>
    <table class="table">
      <tr>
        <th>
          Id
        </th>
        <th>
          Name
        </th>
      </tr>
      <tr *ngFor="let room of allRooms" (click)="select(room)">
        <td>{{room?.roomId}}</td>
        <td>{{room?.roomName}}</td>
      </tr>
    </table>
    <div>
    </div>
    <input type="button" value="Create" (click)="mode='create'">
    <input type="button" [disabled]="!selectedRoom" value="Delete" (click)="deleteRoom()">
    <input type="button" value="Update" (click)="mode='update'">
    <div *ngIf="mode==='create'">
      Name: <input type="text" [(ngModel)]="roomToCreate.roomName">
      <input type="button" value="Create Room" (click)="addRoom()">
    </div>
    <div *ngIf="mode==='update'">
        Name: <input type="text" [(ngModel)]="roomToUpdate.roomName">
        <input type="button" value="Update Room">
    </div>
</div>