.page{
    height: 100vh;
}
.page-container{
    width: 100vw;
}

.user-page {
    margin-top: 50px;
}

.nav-pane {
  position: absolute;
}

.custom-text{
    font-family: 'Quicksand', sans-serif !important;
}
