<!--The content below is only a placeholder and can be replaced.-->
<div class="row page-container">
  <app-header class="col-md-12" *ngIf="authenticationService.isLoggedIn()"></app-header>
  <navigation-pane (closeState)="changeMenuState($event)" class="col-md-2 nav-pane" *ngIf="isAdminOrTrainer()"></navigation-pane>
  <user-menu *ngIf="isUser()"></user-menu>
  <div [style.margin-left.px]="pageMargin"
       *ngIf="isAdminOrTrainer()"
       style="margin-right: 0px">
    <router-outlet></router-outlet>
  </div>
  <div class="user-page col-md-12" *ngIf="isUser() || !authenticationService.isLoggedIn()" style="margin-right: 0px">
    <router-outlet></router-outlet>
  </div>
</div>

