<div class="col-md-6 col-md-offset-3">
    <div style="background-color: rgba(66, 134, 244,0.7); width: 50%; margin: 0 auto; text-align: center; text: white;">
    <h2 >Login</h2>
    </div>
    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate style="width: 50%; margin: 0 auto;">
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <label for="">Username</label>
            <input type="text" class="form-control" name="username" required />
            <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <label for="">Password</label>
            <input type="password" class="form-control" name="password" required />
            <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">Login</button>
           	<button [disabled]="loading" class="btn btn-primary">Register</button>
        </div>
    </form>
</div>
