<h1>
  Subscription list
</h1>
<table class="table table-condensed table-hover">
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Start</th>
    <th>Duration</th>
    <th>Workouts</th>
  </tr>
  <tr *ngFor="let entry of subscriptionAndWorkouts.subscription">
    <td>
      {{entry.name}}
    </td>
    <td>
    
    {{entry.price}}
    </td>
    <td>
     
     {{entry.start}}
    </td>
    <td>
      {{entry.duration}}
    </td>

  
    <td>
      <table class="table table-condensed table-hover">
        <tr>
          <th>
            Description
          </th>
          <th>
            Type
          </th>
          <th>
            Difficulty
          </th>
        </tr>
        <tr *ngFor="let workout of subscriptionAndWorkouts.workouts">
          <td>
            {{workout?.description}}
          </td>
          <td>
            {{workout?.workoutType}}
          </td>
          <td>
            {{workout?.difficulty}}
          </td>
          <button (click)="deleteWorkout(entry,workout)">Delete</button>
        </tr>
      </table>
    </td>
    </tr>
    <button (click)="delete(entry)">Delete</button>
    <br>
    <br>
    <button type="button" class="btn btn-primary-outline pull-right" (click)="updateSubscription(entry)"><i class="fa fa-plus"></i> Update</button>
    
    
  
</table>
