
<div>
	<table class="table for timetable" align="center" >
		<tr bgcolor=MidnightBlue>
			<th><font color="white">Id</font></th>
			<th><font color="white">Day</font></th>
			<th><font color="white">Start</font></th>
			<th><font color="white">Duration</font></th>
			<th><font color="white">Room</font></th>
			<th><font color="white">Workout</font></th>
			<th></th>
			<th></th>
		</tr>
		<tr *ngFor="let item of allTimetables">
			<td>{{item?.id}}</td>
			<td>{{item?.day}}</td>
			<td ng-non-bindable>{{item?.start | date:'HH:mm'}}</td>
			<td>{{item?.duration}}</td>
			<td>{{item?.room.roomName}}</td>
			<td>{{item?.workout.workoutType}}</td>
			<td><button (click)="goToUpdatePage(item)" >Update</button></td>
			<td><button (click)="deleteTimetable(item)">Delete</button></td>
		</tr>
	</table>

	

</div>
