  <legend>
    <h2>Create New User</h2>
  </legend>

<div class="align">
  <div style=" margin: 0 auto;">
    <div class="alert" *ngIf="message.length > 0">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <strong>{{message}}!</strong>
    </div>

    <div class="form-group">
      <div class="userpass">
          <input class="inputLogin" type="text" required name="fname" [(ngModel)]="createdUser.name">
          <span class="highlight"></span>
          <span class="bar"></span><label class="labelLogin"> First Name </label>
      </div>
    </div>
    <div class="form-group">
        <div class="userpass">
            <input class="inputLogin" type="text" required name="lname" [(ngModel)]="createdUser.surname">
            <span class="highlight"></span>
            <span class="bar"></span><label class="labelLogin"> Last Name </label>
        </div>
    </div>
    <div *ngIf="createdUser.userType!=='CLIENT'" class="form-group">
        <div class="userpass">
            <input class="inputLogin" type="password" required name="passw" [(ngModel)]="createdUser.password">
            <span class="highlight"></span>
            <span class="bar"></span><label class="labelLogin"> Password </label>
        </div>
    </div>
    <div *ngIf="createdUser.userType==='CLIENT'" class="form-group">
        <div class="userpass">
            <input class="inputLogin" type="text" required name="passw" [(ngModel)]="createdUser.cnp">
            <span class="highlight"></span>
            <span class="bar"></span><label class="labelLogin"> CNP (Password) </label>
        </div>
    </div>
    <div class="form-group">
        <div class="userpass">
            <input class="inputLogin" type="text" required name="email" [(ngModel)]="createdUser.email">
            <span class="highlight"></span>
            <span class="bar"></span><label class="labelLogin"> Email </label>
        </div>
    </div>
    <div class="form-group">
        <div class="userpass">
            <input class="inputLogin" type="text" required name="phonenr" [(ngModel)]="createdUser.phonenumber">
            <span class="highlight"></span>
            <span class="bar"></span><label class="labelLogin"> Phone Nr </label>
        </div>
    </div>
    <!-- <label>First name:</label>
    <input type="text" name="fname" [(ngModel)]="createdUser.name">
    <br>
    <label>Last name:</label> -->
    <!-- <input type="text" name="lname" [(ngModel)]="createdUser.surname">
    <br>
    <label *ngIf="createdUser.userType!=='CLIENT'">Password:</label> -->
    <!-- <input *ngIf="createdUser.userType!=='CLIENT'" type="password" name="passw" [(ngModel)]="createdUser.password">
    <label *ngIf="createdUser.userType==='CLIENT'">CNP:</label> -->
    <!-- <input *ngIf="createdUser.userType==='CLIENT'" type="text" name="passw" [(ngModel)]="createdUser.cnp">
    <br> -->
    <!-- <label>Email:</label>
    <input type="text" name="email" [(ngModel)]="createdUser.email">
    <br> -->
    <!-- <label>PhoneNr:</label>
    <input type="text" name="phonenr" [(ngModel)]="createdUser.phonenumber">
    <br> -->
    <!-- Subscription ID: ?? -->
    <div>
      <label for="type">Choose Type: </label>

      <input type="radio" id="trainer" name="type" value="TRAINER" [(ngModel)]="createdUser.userType">
      <label for="trainer">TRAINER</label>

      <input type="radio" id="client" name="type" value="CLIENT" [(ngModel)]="createdUser.userType">
      <label for="client">CLIENT</label>

      <input type="radio" id="admin" name="type" value="ADMIN" [(ngModel)]="createdUser.userType">
      <label for="admin">ADMIN</label>
    </div>
  </div>
  <button class="btn btn-primary" (click)="addUser()">
      <span>Submit </span>
    </button>
    <div *ngIf="createdUser.userType==='TRAINER'" class="form-group">
      <label class="control-label col-sm-4">Choose a picture:</label>
      <div class="col-sm-7">
        <input type="file" (change)="upload($event)">
        <br>
        <img id="imagine" src="" height="200" alt="Image preview...">
      </div>
    </div>

  </div>