<h1>
  Subscription list
</h1>
<table class="table table-condensed table-hover">
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Start</th>
    <th>Duration</th>
    <th>Workouts</th>
  </tr>
  <tr *ngFor="let entry of subscriptions">
    <td>
      {{entry.subscription.name}}
    </td>
    <td>
      {{entry.subscription.price}}
    </td>
    <td>
      {{entry.subscription.start}}
    </td>
    <td>
      {{entry.subscription.duration}}
    </td>
    <td>
      <table class="table table-condensed table-hover">
        <tr>
          <th>
            Description
          </th>
          <th>
            Type
          </th>
          <th>
            Difficulty
          </th>
        </tr>
        <tr *ngFor="let workout of entry.workouts">
          <td>
            {{workout.description}}
          </td>
          <td>
            {{workout.workoutType}}
          </td>
          <td>
            {{workout.difficulty}}
          </td>
          <button (click)="deleteWorkout(entry,workout)">Delete</button>
        </tr>
      </table>
    </td>
    <button (click)="delete(entry)">Delete</button>
  </tr>
</table>
