<fieldset>
    <legend>
		<h2>Update Subscription</h2>
    </legend>
    <div class="centered col-sm-7">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-3" for="name">Subscription name:</label>
            <div class="col-sm-9"> 
                <input type="text" name="SubName" >
            </div>
        </div>
        
        <div  class="form-group">
            <label  class="control-label col-sm-3" for="price">Price:</label>
            <div  class="col-sm-9">
                <input type="number" name="Price" step="0.01" min=0 oninput="validity.valid||(value='');" ><br>
            </div>
        </div>
        
        <div  class="form-group">
            <label  class="control-label col-sm-3" for="start">Start date:</label>
            <div  class="col-sm-9"> 
                <input type="date" name="StartDate" >
            </div>
        </div>
        <div  class="form-group">
            <label  class="control-label col-sm-3" for="duration">Duration:</label>
            <div  class="col-sm-9"> 
                <input type="number" name="Duration" min=0 oninput="validity.valid||(value='');" >
            </div>
        </div>
        <div class="form-group">
            <label  class="control-label col-sm-3" for="workouts">Workouts:</label>
            <div  class="col-sm-9">
                <select name="Workouts" multiple>      
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="opel">Opel</option>
                    <option value="audi">Audi</option>
                </select>
            </div>
        </div>
       
        
        <button type="submit" class="btn btn-success submit">Submit</button>
    </form>
    </div>
</fieldset>
