<div>
	<h1>Create new timetable</h1>
	Day: <select [(ngModel)]="timetableToCreate.day">
		<option>Montag</option>
		<option>Dienstag</option>
		<option>Mittwoch</option>
		<option>Donnerstag</option>
		<option>Freitag</option>
		<option>Samstag</option>
		<option>Sonnntag</option>
	</select> 
	<br> Start: <input type="date" [(ngModel)]="timetableToCreate.start"> 
	<br> Duration: <input type="text" [(ngModel)]="timetableToCreate.duration">
	<br> Room: 
	<select [(ngModel)]="timetableToCreate.roomName">
		<option *ngFor="let item of allRooms"> {{item?.roomName}} </option>
	</select> 
	<br> Workout: 
	<select [(ngModel)]="timetableToCreate.workoutType">
		<option *ngFor="let item of allWorkouts"> {{item?.workout.workoutType}} </option>
	</select>
	<br>
    <button (click)="addTimetable(item)" >Add</button>
</div>