
	<legend>
		<h2>Create Timetable</h2>
	</legend>
	<div class="align">
	<div class="form-group">
		<div class="message" *ngIf="message.length > 0">
			<b>{{message}}</b>
		</div>

		<div class="form-group">
			<div class="userpass">
		<label class="control-label" for="name">Day</label> 
		 <select [(ngModel)]="timetableToCreate.day" name="day">
			<option>Monday</option>
			<option>Tuesday</option>
			<option>Wednesday</option>
			<option>Thursday</option>
			<option>Friday</option>
			<option>Saturday</option>
			<option>Sunday</option>
		</select>
		</div>
		</div>
		<div class="form-group">
			<div class="userpass">
				<label class="control-label" for="name">Start</label> 
				<p-calendar icon="fa-clock-o" name="start" [(ngModel)]="timetableToCreate.start" [timeOnly]="true" [showIcon]="true"></p-calendar> 
			</div>
		</div>
		<div class="form-group">
			<div class="userpass">
					<input class="inputLogin" type="number" required name="duration" [(ngModel)]="timetableToCreate.duration"/>
					<span class="highlight"></span>
					<span class="bar"></span><label class="labelLogin"> Duration </label>
			</div>
		</div>
			<div class="form-group">
				<label class="control-label"> Room </label>
				<div class="" style="width: 200px;">
					<p-multiSelect [style]="{'width':'100%'}" name="room" [options]="allRooms" [(ngModel)]="timetableToCreate.roomName" optionLabel="roomName"></p-multiSelect>
				</div>
				<!-- <label class="control-label" for="name">Room</label> <select
					[(ngModel)]="timetableToCreate.roomName" name="room">
					<option *ngFor="let item of allRooms" value="{{item?.roomName}}">
						{{item?.roomName}}</option>
				</select> -->
			</div>
			<div class="form-group">
				<label class="control-label"> Workout </label>
				<div class="" style="width: 200px;">
					<p-multiSelect [style]="{'width':'100%'}" name="workout" [options]="allWorkouts" [(ngModel)]="timetableToCreate.workoutType" optionLabel="workout.workoutType"></p-multiSelect>
				</div>
				<!-- <label class="control-label col-sm-3" for="name">Workout</label> <select
					[(ngModel)]="timetableToCreate.workoutType" name="workout">
					<option *ngFor="let item of allWorkouts"
						value="{{item?.workout.workoutType}}">
						{{item?.workout.workoutType}}</option>
				</select> -->
			</div>
			<div class="form-group">
				<label class="control-label"> Trainer </label>
				<div class="" style="width: 200px;">
					<p-multiSelect [style]="{'width':'100%'}" name="trainer" [options]="allTrainers" [(ngModel)]="timetableToCreate.trainer" optionLabel="name"></p-multiSelect>
				</div>
				<!-- <label class="control-label col-sm-3" for="name">Trainer</label> <select
					[(ngModel)]="timetableToCreate.trainer" name="trainer">
					<option *ngFor="let item of allTrainers"
						[ngValue]="item">
						{{item?.name}} {{item?.surname}}</option>
				</select> -->
			</div>
		<button (click)="addTimetable()"  class="btn btn-success">Add</button>
		</div>
	</div>
