<div>
  Create
  <br>
  Id: <input type="text">
  <br>
  Day: <input type="text">
  <br>
  Start: <input type="text">
  <br>
  Duration: <input type="text">
  <br>
  Room: <select>
      <option>

      </option>
      <option>
        TestRoom1
      </option>
      <option>
        TestRoom2
      </option>
      <option>
        TestRoom3
      </option>
    </select>
    <br>
  Workout: <select>
      <option>
        
      </option>
      <option>
        TestWorkout1
      </option>
      <option>
        TestWorkout2
      </option>
      <option>
        TestWorkout3
      </option>
    </select>
</div>
<br>
<br>
<div>
    Update
    <br>
    Id: <input type="text" value="5">
    <br>
    Day: <input type="text" value="Monday">
    <br>
    Start: <input type="text" value="14:00">
    <br>
    Duration: <input type="text" value="2">
    <br>
    Room: <select>
        <option>
          TestRoom1
        </option>
        <option>
          TestRoom2
        </option>
        <option>
          TestRoom3
        </option>
      </select>
      <br>
    Workout: <select>
        <option>
          TestWorkout1
        </option>
        <option>
          TestWorkout2
        </option>
        <option>
          TestWorkout3
        </option>
      </select>
  </div>