<h1> Update Workout</h1>

<form>
  <div>
      <label for="wname">New name: </label>
      <input type="text" name="wname" id="wname"><br>
  </div>
  <label for="difficulty">Choose difficulty: </label>
  <div>
    <input type="radio" id="easy"
     name="difficulty" value="easy">
    <label for="easy">EASY</label>

    <input type="radio" id="medium"
     name="difficulty" value="medium">
    <label for="medium">MEDIUM</label>

    <input type="radio" id="hard"
     name="difficulty" value="hard">
    <label for="hard">HARD</label>
  </div>
  <div>
  <label for="description">New description: </label>
  <input type="text" name="description" id="description"><br>
</div>
  <div>
    <button type="submit">Submit</button>
  </div>
</form>