<h1> Create New Workout</h1>
<div class="form">
    <div class="alert" *ngIf="message.length > 0">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>{{message}}!</strong>
    </div>
    <div>
        <label for="wname">Name: </label>
        <input type="text" name="wname" id="wname" [(ngModel)]="trainerWorkouts.workout.workoutType">
        <br>
    </div>
    <div>
        <label for="description">Description: </label>
        <textarea name="description" id="description" [(ngModel)]="trainerWorkouts.workout.description"></textarea>
        <br>
    </div>
    <div>
        <label for="difficulty">Choose difficulty: </label>
        <input type="radio" id="easy" name="difficulty" value="EASY" [(ngModel)]="trainerWorkouts.workout.difficulty">
        <label for="easy">EASY</label>
        <input type="radio" id="medium" name="difficulty" value="MEDIUM" [(ngModel)]="trainerWorkouts.workout.difficulty">
        <label for="medium">MEDIUM</label>
        <input type="radio" id="hard" name="difficulty" value="HARD" [(ngModel)]="trainerWorkouts.workout.difficulty">
        <label for="hard">HARD</label>
    </div>
    <div>
        <div class="form-group">
            <label class="control-label col-sm-4" for="trainerList">Trainers:</label>
            <div class="col-sm-7">
                <p-multiSelect name="trainers" [options]="trainerList" [(ngModel)]="trainerWorkouts.trainers" optionLabel="name"></p-multiSelect>
            </div>
        </div>
    </div>
    <div id="button">
        <input type="button" value="Add" (click)="addWorkout()">
    </div>
</div>