#title{
  text-align: center;
  font-weight: bold;
  color: #0f213f;
  padding-bottom: 25px;
}



.form{
  position: absolute;
  padding-top: 10px;
  padding-bottom: 10px;
  left: 30%;
}
#btndiv {
  padding-top: 15px;
}

#updateButton{
  background-color: #0f213f;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: absolute;
  left: 46%;
}

#wname {
  width:100%;
}

#description {
  width: 100%;
}

select{
  font-size: 25px;
}

option{
  font-size: 20px;
}

label{
  font-size: 25px;
}

.alert {
  padding: 20px;
  background-color: #14305e;
  color: white;
  text-align: center;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
