h1{
    text-align: center;
}

form{
    position: absolute;
    padding-top: 70px;
    left: 30%;
}

#button{
    padding-top: 60px;
    text-align: center;
}

button{
    font-size: 25px;
}

div{
    padding-top: 10px;
    padding-bottom: 10px;
}

select{
    font-size: 25px;
}

option{
    font-size: 20px;
}

label{
    font-size: 25px;
}

.alert {
    padding: 20px;
    background-color: #09a7e6;
	color: rgb(0, 0, 0);
	text-align: center;
}

.closebtn {
    margin-left: 15px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}