.trainer-card {
  border: 0.5px solid rgb(192, 192, 192);
  height: 200px;
  width: 800px;
  margin: 30px 30px 30px 30px;
  color: black;
  border-radius: 10px;
  display: flex;
}

.trainer-image {
  height: 150px;
  overflow: hidden;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 10px;
  border-radius: 10px;
}

.image-container {
  width: 200px;
  overflow: hidden;
}

.trainer-name {
  font-size: 30px;
  margin-top: 15px;
  margin-left: 10px;
}

.trainer-info {
  border-radius: 10px;
  margin-left: 10px;
  height: 120px;
  width: 575px;
  font-size: 16px;
}

.trainer-rating {
  position: relative;
  bottom: -36px;
  left: 10px;
}

.backimage{
  max-width: 100vw;
  width: 100vw;
  z-index: -100;
  position: fixed;
  top: 0;
  left: 0;
}

.card-client{
  border:0;
  background-color: rgba(255, 255, 255, 0.800);
}
