<div id="user-wrapper"></div>
<div class="user-header" style="background-color: rgba(66, 134, 244,0.7); width: 50%; margin: 0 auto; text-align: center; text: white;">
	<h1 >USER LIST</h1>
</div>

<form>
	<table style="width: 50%; margin: 0 auto;">
		<tr>
			<th>Name</th>
			<th>LastName</th>
			<th>Type</th>
		</tr>

		<tr>

			<td>Stefi</td>
			<td>Vlg</td>

			<td>Trainer</td>
			<td><input type="button" value="Delete"></td>
			<td><input type="button" value="Update"></td>
		</tr>



		<tr>

			<td>Simti</td>
			<td>Rares</td>

			<td>Advanced ZUmba Student</td>
			<td><input type="button" value="Delete"></td>
			<td><input type="button" value="Update"></td>
		</tr>

		<tr>

			<td>Gelly</td>
			<td>Belly</td>

			<td>Invatacel</td>
			<td><input type="button" value="Delete"></td>
			<td><input type="button" value="Update"></td>
		</tr>

	</table>
</form>