.map {
  height: 650px;
  width: 900px;
  float: right;
  margin-top: 150px;
 }
 .left-align{
   float:left;
   margin-left: 3vw;
   border-radius: 10px;
   background-color: rgba(255, 255, 255, 0.61);
   min-height: 11vw;
   width: 24vw;
   padding-left: 1.5vw;
   padding-top: 0.5vw;
   display: grid;
   position: absolute;
   margin-top: 100px;
 }

 .backimage{
  max-width: 100vw;
  width: 100vw;
  z-index: -100;
  position: fixed;
  top: 0;
  left: 0;
}

span{
  margin-left:6px;
  padding: 8px;
}


/*<<<<<<< HEAD*/
        /*float: right;*/
/*position: relative;*/
/*top: 100px;*/
/*right: 20px;*/
/*}*/

/*.left-align {*/
  /*float: left;*/
/*}*/

/*.contact-info {*/
  /*font-size: 30px;*/
  /*margin-left: 100px;*/
  /*margin-top: 100px;*/
  /*width: 400px;*/
/*}*/

/*.contact-container {*/
  /*display: inline-flex;*/
/*}*/

/*.map-container {*/
  /*margin-left: 400px;*/
/*=======*/
