.list-table{
    margin-top: 30px;
    margin: 0 auto;
}

tr.selected {
    background:grey;
}

tr.selected:hover {
    background: green;
}

table{
    border-collapse: collapse;
}
input{
    font-size: 25px;
}