#workoutTable{
  width: 100%;
  border-collapse: collapse;
}

tr.selected {
    background:grey;
}

.description {
  max-width: 110px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

#container {
  position: relative;
}

.popup {
  background: #f2f2f2;
  position:relative;

  padding:10px;
  white-space: normal;
}

.button1 .button2 {
  cursor: default;
}
.alert {
  padding: 20px;
  background-color: #09a7e6;
color: rgb(0, 0, 0);
text-align: center;
position: fixed;
top: 40px;
left: 50%;
transform: translateX(-50%);
}

.closebtn {
  margin-left: 15px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
