
	<legend>
		<h2>
			Workout List
		</h2>
	</legend>
		<table class="table table-condensed table-hover" id="workoutTable">
			<tr>
				<th>Name</th>
				<th>Difficulty</th>
				<th>Trainers</th>
				<th class="description">Description</th>
				<th colspan=""></th>
			</tr>
			<tr *ngFor="let trainerworkout of allWorkouts" class.selected = "selectedTrainerWorkout === trainerworkout">
				<td>{{trainerworkout.workout.workoutType}}</td>
				<td>{{trainerworkout.workout.difficulty}}</td>
				<td>
          <p *ngFor="let trainer of trainerworkout.trainers">{{trainer.name}} {{trainer.surname}}</p>
				</td>

				<td class="description" (click)="showDescription(trainerworkout)">{{trainerworkout.workout.description}}
          <div id="container">
            <div *ngIf="descriptionFlag && trainerworkout === selectedTrainerWorkout"  class="popup">
              <p>{{trainerworkout.workout.description}}</p>
            </div>
          </div>
        </td>

				<td>
					<button id="update" type="update-button" class="btn btn-primary-outline pull-right" (click)="update(trainerworkout)">
							<i class="fa fa-plus"></i>
						Update
					</button>
					<br>
					<button id="delete" type="delete-button" class="btn btn-primary-outline pull-right" (click)="delete(trainerworkout)">
							<i class="fa fa-plus"></i>
						Delete
					</button>
				</td>
			</tr>
		</table>
