<table>
  <tr>
    <th>
      Name
    </th>
    <th>
      Difficulty
    </th>
    <th>
      Trainer
    </th>
    <th>
      Description
    </th>
  </tr>
  <tr>
    <td>
      Swimming
    </td>
    <td>
        MEDIUM
      </td>
      <td>
        John
      </td>
      <td>
          You'll get wet!!
        </td>
        <td>
            <input type="button" value="Delete">
        </td>
        <td>
            <input type="button" value="Update">
        </td>
  </tr>
  <tr>
      <td>
        Zumba
      </td>
      <td>
          EASY
        </td>
        <td>
          Cena
        </td>
        <td>
            You'll sweat!!
          </td>
          <td>
              <input type="button" value="Delete">
          </td>
          <td>
              <input type="button" value="Update">
          </td>
    </tr>
</table>