p {
  font-size: 23px;
}

.container {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  min-width: calc(100vw-240px);
}

.content {
  display: inline-block;
  text-align: left;
}

.home-title {
  border-bottom: 2px solid #304e7e;
  padding-left: 4vw;
  padding-right: 4vw;
  font-size: 35px;
  font-family: 'Quicksand', sans-serif;
}

.subtitle {
  font-size: 25px;
  margin-top: 20px;
}

.description {
  font-size: 18px;
  margin-top: 30px;
  max-width: 50vw;
}

.backimage{
  max-width: 100vw;
  width: 100vw;
  z-index: -100;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.85;
}

.navmenu{
  height: 20vw;
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  display: inline-block;
}

.menuimage{
  height: 16vw;
  margin-bottom: 1vw;
  opacity: 0.6;
  border-radius: 5px;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.navoption{
  margin-left: 85px;
  margin-right: 85px;
  display: inline-grid;
  font-size: 18px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.521);
}


.navoption:hover{
  font-size: 24px;
  cursor: pointer;
}

.navoption:hover .menuimage{
  opacity: 1;
}

.navoption label:hover{
  cursor: pointer;
}

.navoption:hover label{
  padding: 0px;
}

.menu-label{
  font-family: 'ABeeZee', sans-serif;
  margin-top: 0.3vw;
  margin-bottom: 0.3vw;
  padding: 8px;
  color: black;
  margin-left: 6px;

  /* text-align: center; */
}

#firstnav{
  margin-left: 4vw;
}


.contact-button {
  position: absolute;
  top: 25px;
  right: 30px;
}

.logo-image {
  height: 481px;
  position: absolute;
  left: 237px;
  top: -22px;
}
