<div *ngIf="isAdminOrTrainer()">

  <div align="right" *ngIf="!authenticationService.isLoggedIn()">
    <input type="button" value="Log In"
           onclick="window.location.href='http://localhost:4200/login?returnUrl=%2F'"/>
  </div>
  <!-- <div class="contact-button">
    <input type="button" value="Contact"
           onclick="window.location.href='http://localhost:4200/contact'"/>
  </div> -->
  <div class="container">
    <div class="home-title content">Administration Tool</div>
    <br>
    <div class="content subtitle">
      Welcome to the NTT-Gym Admin Tool
    </div>
    <br>
    <div class="content description">
      This is where you'll be able to edit and
    </div>
    <br>
    <div class="content description">
      manage all of the gym data.
    </div>
    <br>
    <div class="content description">
      Use this to maintain your client base,
    </div>
    <br>
    <div class="content description">
      your trainers,
    </div>
    <br>
    <div class="content description">
      your workouts
    </div>
    <br>
    <div class="content description">
      and everything inbetween.
    </div>
  </div>
</div>
<div *ngIf="!isAdminOrTrainer()">
  <img class="backimage" src="assets/images/mainpagephoto.png">
  <div class="navmenu">
    <div id="firstnav" class="navoption">
      <label> Trainers </label>
      <img class="menuimage" src="assets/images/menuimg2.jpg" (click)="navigateTo('trainer')">
    </div>
    <div class="navoption">
      <label> Schedule </label>
      <img class="menuimage" src="assets/images/menuimg3.jpg" (click)="navigateTo('schedule')">
      </div>
    <div class="navoption">
      <label> Contact </label>
      <img class="menuimage" src="assets/images/menuimg4.jpeg" (click)="navigateTo('contact')">
    </div>
  </div>
</div>
