<fieldset>
  <legend>
    <h2>Update User</h2>
  </legend>
<div style= " margin: 0 auto;">
  	<div class="alert" *ngIf="message.length > 0">
		<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
		<strong>{{message}}!</strong> 
	</div>
  
 <label> First name:  </label><input type="text" name="fname" [(ngModel)]="createdUser.name"><br>
 <label> Last name:  </label><input type="text" name="lname" [(ngModel)]="createdUser.surname"><br>
  <label *ngIf="createdUser.userType!=='CLIENT'">Password:</label>  <input *ngIf="createdUser.userType!=='CLIENT'" type="password" name="passw" [(ngModel)]="createdUser.password">
  <label *ngIf="createdUser.userType==='CLIENT'">CNP:</label>  <input *ngIf="createdUser.userType==='CLIENT'" type="text" name="passw" [(ngModel)]="createdUser.cnp">
  <br>
  <label>Email:</label> <input type="text" name="email" [(ngModel)]="createdUser.email"><br>
  <label>PhoneNr:</label> <input type="text" name="phonenr" [(ngModel)]="createdUser.phonenumber"><br>
  <!-- Subscription ID: ?? -->
  <div>
    <label for="type">Choose Type: </label>

    <input type="radio" id="trainer" name="type" value="TRAINER" [(ngModel)]="createdUser.userType" (click)="changeType('TRAINER')">
    <label for="trainer">TRAINER</label>

    <input type="radio" id="client" name="type" value="CLIENT" [(ngModel)]="createdUser.userType" (click)="changeType('CLIENT')">
    <label for="client">CLIENT</label>

    <input type="radio" id="admin" name="type" value="ADMIN" [(ngModel)]="createdUser.userType" (click)="changeType('ADMIN')">
    <label for="admin">ADMIN</label>
  </div>
	<fieldset *ngIf="createdUser.userType==='CLIENT'">
  <legend>
    <h2>Assign Subscription</h2>
  </legend>
  
   <div  class="form-group">
            <label  class="control-label col-sm-3" for="start">Start date:</label>
            <div  class="col-sm-9"> 
        		<p-calendar name="start" [(ngModel)]="createdUser.start" [showIcon]="true" dateFormat="dd.mm.yy"></p-calendar>
            </div>
        </div>
        
        <div>
            <label for="subscription">Subscription: </label>
            <select [(ngModel)]="createdUser.subscription.subscriptionId">
                <option *ngFor="let sub of subscriptionList" [ngValue]="sub.subscriptionId" >{{sub.name}}</option>
            </select>
        </div>
        </fieldset>
  <!--
  <input type="submit" value="Submit"> -->
  <button type="button" class="button" (click)="updateUser()"><span>Submit </span></button>
  </div>
</fieldset>

