<h1>
  User list
</h1>
<table class="table table-condensed table-hover">
  <tr>
    <th>ID</th>
    
    <th>Type</th>
    <th>Email</th>
    <th>Name</th>
    <th>Surname</th>
    <th>PhoneNr</th>
    <th>Start</th>
    <th>Subscription</th>
  </tr>
  <tr *ngFor="let entry of userLists">
    <td>
      {{entry?.id}}
    </td>
    
    <td>
      {{entry?.userType}}
    </td>
    <td>
      {{entry?.email}}
    </td>
    <td>
      {{entry?.name}}
    </td>
    <td>
      {{entry?.surname}}
    </td>
    <td>
      {{entry?.phonenumber}}
    </td>
    
     <td>
      {{entry?.start | date:'dd.MM.yyyy'}}
    </td>
    
    <td>
    	<div *ngIf="entry.subscription">
      		{{entry?.subscription.name}}
      </div>
    </td>
    <td>
      <button type="button" class="btn btn-primary-outline pull-right" (click)="delete(entry)"><i class="fa fa-plus"></i>Delete</button>
      <br>
      <br>
      <button type="button" class="btn btn-primary-outline pull-right" (click)="updateUser(entry)"><i class="fa fa-plus"></i>Update</button>
    </td>
  </tr>

</table>
