<legend>
<h2>
  User list
</h2>
</legend>
<table class="table table-condensed table-hover">
  <tr>
    <th>ID</th>
    <th>Type</th>
    <th>Email</th>
    <th>Name</th>
    <th>Surname</th>
    <th>PhoneNr</th>
    <th>Start</th>
    <th>Subscription</th>
    <th></th>
  </tr>
  <tr *ngFor="let entry of userLists">
    <td>
      {{entry?.id}}
    </td>
    
    <td>
      {{entry?.userType}}
      <br>
      <div *ngIf="entry.userType==='TRAINER'">
        <img height="69px" src="{{entry?.imageBase64}}">
      </div>
    </td>
    <td>
      {{entry?.email}}
    </td>
    <td>
      {{entry?.name}}
    </td>
    <td>
      {{entry?.surname}}
    </td>
    <td>
      {{entry?.phonenumber}}
    </td>
    
     <td>
      {{entry?.start | date:'dd.MM.yyyy'}}
    </td>
    
    <td>
    	<div *ngIf="entry.subscription">
      		{{entry?.subscription.name}}
      </div>
    </td>
    <td>
      <div class="alert" *ngIf="message.length > 0">
				<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
				<strong>{{message}}!</strong>
			</div>
      <button type="update-button" id="update" class="btn btn-primary-outline pull-right" (click)="updateUser(entry)"><i class="fa fa-plus"></i>Update</button>
       <button type="edit-button" id="edit" *ngIf="entry.userType==='CLIENT'"  class="btn btn-primary-outline pull-right" (click)="showTimetable(entry)"><i class="fa fa-plus"></i>Edit Timetable</button>
      <br>
       <button type="delete-button" id="delete" class="btn btn-primary-outline pull-right" (click)="delete(entry)"><i class="fa fa-plus"></i>Delete</button>
    </td>
  </tr>

</table>
 