<h1>
  User list
</h1>
<table class="table table-condensed table-hover">
  <tr>
    <th>ID</th>
    <th>Password</th>
    <th>Type</th>
    <th>Email</th>
    <th>Name</th>
    <th>Surname</th>
    <th>PhoneNr</th>
    <th>ID Subscription</th>
  </tr>
  <tr *ngFor="let entry of userLists">
    <td>
      {{entry?.id}}
    </td>
    <td>
      {{entry?.password}}
    </td>
    <td>
      {{entry?.type}}
    </td>
    <td>
      {{entry?.email}}
    </td>
    <td>
      {{entry?.name}}
    </td>
    <td>
      {{entry?.surname}}
    </td>
    <td>
      {{entry?.phonenumber}}
    </td>
    <td>
      {{entry?.userPermission}}
    </td>

    <td>
      <button type="button" class="btn btn-primary-outline pull-right" (click)="delete(entry)"><i class="fa fa-plus"></i>Delete</button>
      <br>
      <br>
      <button type="button" class="btn btn-primary-outline pull-right" (click)="updateUser(entry)"><i class="fa fa-plus"></i>Update</button>
    </td>
  </tr>

</table>
