<h1>
  Subscription Details
</h1>
<table class="table table-condensed table-hover">
  <tr>
    <th>Name</th>
    <th>Descriptions</th>
    <th>Rating</th>
  </tr>
  <tr *ngFor="let entry of subscriptionsAndWorkouts">
    <td>{{entry?.subscription.name}} </td>
   

    <td>
      <table class="table table-condensed table-hover">
        <tr>
          <th>Description</th>
        </tr>
        <tr *ngFor="let workout of entry.workouts">
          <td>
            <div id="div" title="{{workout.description}}">{{workout?.description}}</div>
          <td>
          <!--button>Delete</button-->
        </tr>
      </table>
    </td>
    <td>
      <star-rating-comp [starType]="'svg'" [rating]="ratingVal" (onClick)="onClick($event)"></star-rating-comp>
    </td>
    
    </tr>
    
    
    
  
</table>
