<div *ngIf="!isAdminOrTrainer()">
  <img class="backimage" src="assets/images/mainpagephoto5.jpeg">
  <div class="col-sm-9">
    <legend>
      <h1>
        Subscription Details
      </h1>
    </legend>
    <div class="trainer-card" *ngFor="let entry of subscriptionsAndWorkouts">
      <img *ngIf="entry.subscription.imageBase64" class="trainer-image" [src]="entry.subscription.imageBase64">
      <img *ngIf="!entry.subscription.image" class="trainer-image" [src]="'data:image/jpg;base64,' + subscriptionImage">
      <span class="sub-name">{{entry?.subscription.name}} {{" - "}} {{entry?.subscription.price}} {{"Ron"}}</span>

		<div class="workouts-div">
      <div *ngFor="let workout of entry.workouts">
        <span><b>{{workout?.workoutType}}</b> : {{workout?.description}}</span>
      </div>
      </div>
      <br/>
      <div class="sub-stars">
        <span *ngFor="let star of entry.subscription.stars">
                    <span *ngIf="star.type==='full'" class="glyphicon glyphicon-star"
                          (click)="sendRating(star.value, entry)"></span>
                    <span *ngIf="star.type==='empty'" class="glyphicon glyphicon-star-empty"
                          (click)="sendRating(star.value, entry)"></span>
        </span>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isAdminOrTrainer()">
  <div class="col-sm-7">
    <h1>
      Subscription Details
    </h1>
    <table class="table table-condensed ">
      <thead>
      <th rowspan="3"></th>
      <th id="sec-col"></th>
      </thead>
      <tbody>
      <tr *ngFor="let entry of subscriptionsAndWorkouts">
        <td>
          <img id="img" src='{{entry?.subscription.imageBase64}}'/>
          <!--img id="img" src="entry?.subscription.image"-->

        </td>

        <td>
          <table>
            <!--thead>
              <th></th>
            </thead-->
            <tbody>
            <tr>
              <td id="subscriptionname"><b>{{entry?.subscription.name}} &nbsp;&nbsp;&nbsp;&nbsp;
                {{entry?.subscription.price}} LEI</b></td>
            </tr>
            <tr>
              <td>
                <div id="workoutslist">
                  <table class="table table-condensed ">
                    <tbody id="workoutslist">
                    <tr *ngFor="let workout of entry.workouts">
                      <td>
                        <div id="div" title="{{workout.description}}"><b>{{workout?.workoutType}}</b>:
                          {{workout?.description}}
                        </div>
                      <td>

                    </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
            <tr>
              <td class="subscription-rating">
                    <span *ngFor="let star of entry.subscription.stars">
                        <span *ngIf="star.type==='full'" class="glyphicon glyphicon-star"
                              (click)="sendRating(star.value, entry)"></span>
                        <span *ngIf="star.type==='empty'" class="glyphicon glyphicon-star-empty"
                              (click)="sendRating(star.value, entry)"></span>
                      </span>
              </td>
              <!--td>
                <star-rating-comp [starType]="'svg'" [rating]="ratingVal" (onClick)="onClick($event)"></star-rating-comp>
              </td-->
            </tr>
            </tbody>
          </table>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
