#div{
    white-space: nowrap;
    width: 1000px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.backimage{
    max-width: 100vw;
    width: 100vw;
    z-index: -100;
    position: fixed;
    top: 0;
    left: 0;
  }


#rating{
    text-align: center;
}

#img{
    max-width: 250px;
    max-height: 180px;
    align-content: center;
}
#workoutslist{
    height: 8.5em;
    overflow-x: hidden;
    overflow-y: auto;
}
#subscriptionname{
    color: gray;
    font-size: 140%;
}
.subscription-rating{
    position: relative;
    left: 10px;
}

.trainer-card {
  background-color: rgba(255, 255, 255, 0.800);
  border: 0.5px solid rgb(192, 192, 192);
  width: 800px;
  margin: 30px 30px 30px 30px;
  color: black;
  border-radius: 10px;
  display: inline-block;
  max-height: 300px;
}

.trainer-image {
  height: 150px;
  overflow: hidden;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 10px;
  border-radius: 10px;
  float: left;
  padding-right: 10px;
}

.sub-name {
  position: relative;
  font-size: 25px;
}

.workouts-div {
  position: relative;
  display: -ms-grid;
  display: grid;
  overflow: auto;
  width: 527px;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.800);
  max-height: 200px;
}

.sub-stars {
  position: relative;
  font-size: 21px;
  color: cadetblue;
  float: right;
  margin-left: -10px;
}
