#div{
    white-space: nowrap; 
    width: 1000px; 
    overflow: hidden;
    text-overflow: ellipsis;    
}

.backimage{
    max-width: 100vw;
    width: 100vw;
    z-index: -100;
    position: fixed;
    top: 0;
    left: 0;
  }
  

#rating{
    text-align: center;
}

#img{
    max-width: 250px;
    max-height: 180px;
    align-content: center;
}
#workoutslist{
    height: 8.5em;
    overflow-x: hidden;
    overflow-y: auto;
}
#subscriptionname{
    color: gray;
    font-size: 140%;
}
.subscription-rating{
    position: relative;
    left: 10px;
}

