<div *ngIf="!isAdminOrTrainer()" style="display: grid;">
<img class="backimage" src="assets/images/schedulewallpaper2.jpg">
<div>
<p-schedule [events]="events" [header]="header" [editable]="false" [defaultView]="'agendaWeek'"
            (onEventClick)="handleEventClick($event)" (onViewRender)="loadEvents($event)" [allDaySlot]="false" 
            [minTime]="'08:00:00'" [maxTime]="'23:00:00'" [options]="option" [eventRender]="eventRender"></p-schedule>
</div>
</div>

<div *ngIf="isAdminOrTrainer()">
<p-schedule [events]="events" [header]="header" [editable]="false" [defaultView]="'agendaWeek'"
            (onEventClick)="handleEventClick($event)" (onViewRender)="loadEvents($event)" [allDaySlot]="false" 
            [minTime]="'08:00:00'" [maxTime]="'23:00:00'" [options]="option" [eventRender]="eventRender"></p-schedule>
</div>