
	<legend>
		<h2>Create New Subscription</h2>
	</legend>
	<div class="align">

		<div class="form-group">
			<div class="alert" *ngIf="message.length > 0">
				<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
				<strong>{{message}}!</strong>
			</div>

			<div class="form-group">
        <div class="userpass">
          <input class="inputLogin" type="text" required name="name" [(ngModel)]="subscriptionToCreate.name"/>
          <span class="highlight"></span>
          <span class="bar"></span><label class="labelLogin"> Subscription Name </label>
        </div>
			</div>
			<div class="form-group">
        <div class="userpass">
          <input class="inputLogin" type="number" required name="price" [(ngModel)]="subscriptionToCreate.price"/>
          <span class="highlight"></span>
          <span class="bar"></span><label class="labelLogin"> Price </label>
        </div>
			</div>

			<div class="form-group">
        <div class="userpass">
          <input class="inputLogin" type="number" required name="duration" [(ngModel)]="subscriptionToCreate.duration"/>
          <span class="highlight"></span>
          <span class="bar"></span><label class="labelLogin"> Duration (days) </label>
        </div>
			</div>
			<div class="form-group">
				<label class="control-label"> Workouts </label>
				<div class="" style="width: 200px;">
					<p-multiSelect [style]="{'width':'100%'}" name="workouts" [options]="workouts" [(ngModel)]="workoutList.workouts" optionLabel="workoutType"></p-multiSelect>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">Choose a picture</label>
				<div>
					<input type="file" class="fileup" (change)="upload($event)">
					<br>
					<img id="imagine" src="" height="200" alt="Image preview...">
				</div>
			</div>

			<div id="btndiv">
					<button type="button" class="button" (click)="addSubscription()"><span>Submit </span></button>
			</div>
		</div>
	</div>
