<div>
  <h1>Create new Subscription</h1>    
</div>

<form action="/action_page.php">
  <label>Subscription name:</label> 
  <input type="text" name="SubName" ><br>
  <label>Price:</label> <input type="number" step="0.01" name="Price" min=0 oninput="validity.valid||(value='');"><br>
  <label>Start date:</label> <input type="date" name="StartDate" ><br>
  <label>Duration:</label> <input type="number" name="Duration" ><br>
  
  <label>Workouts:</label>
  <select name="Workouts" multiple>      
    <option value="Abonament 1">Abonament 1</option>
    <option value="Abonament 2">Abonament 2</option>
    <option value="Abonament 3">Abonament 3</option>
    
  </select><br>
  <input type="submit" value="Submit">
</form>
